<div class="notification-container" *ngIf="isShown" [@inOutAnimation] [ngClass]="{ 'wrong': !answerIsValid }">
    <div class=" h-100 d-flex justify-content-center align-items-center">
        <div class="d-block justify-content-centers">
            <h1 *ngIf="answerIsValid">🎉 Ура, правильный ответ!</h1>
            <h1 *ngIf="!answerIsValid">❌ А вот и нет! ❌</h1>
            <div class="d-flex align-items-center justify-content-center">
                <app-participant-item *ngIf="participant" [participant]="participant"></app-participant-item>
            </div>
            <h2 class="text-center">выйграл наказание</h2>
            <h1>{{ countdown }}</h1>
        </div>
    </div>
</div>
