@import "../../../styles.scss";
h1 {
  text-align: center;
  color: $thg_brown;
}


.video-container {
  position: absolute;
  background-color: inherit;
  animation: from-bg-to-black 1s forwards;
  background-color: black !important;
  width: 100%;
  height: 100%;
  video {
    width: 100%;
  }
}
.step-1 {
  animation: from-black-to-bg 1s forwards;
  width: 100%;
  height: 100%;
}