<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center vh-100 w-100">
        <div class="d-block">
            <div class="row row-cols-1">
                <div class="col">
                    <h1>Самое время зарегистрироваться</h1>
                </div>
            </div>
            <div class="row row-cols-2 mt-3">
               <div class="col">
                   <ul class="list-group shadow">
                       <li class="list-group-item">отсканируй QR код</li>
                       <li class="list-group-item">пройди регистрацию</li>
                   </ul>
               </div>
                <div class="col">
                    <img align="right" src="../../../assets/qr-code.svg" class="img-fluid qr-code">
                </div>
            </div>
            <div class="row row-cols-1">
                <app-participants [small]="true">
                    <h4>Если вы себя тут видите, то вы уже не очень тупой и вы прошли регистрацию</h4>
                </app-participants>
            </div>
        </div>
    </div>
</div>
