@import "../../../styles.scss";

.cards-history {
  position: fixed;
  width: 100%;
  bottom: 0px;
  max-height: 70px;
  background-color: $thg_orange;
}
.card-item {
  width: 120px;
}

.card-icon {
  width: 42px;
  height: 42px;
  position: relative;
  left: -24px;
  bottom: -15px;
}
