@import "../../../styles.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


section {
  margin-top: 10vh;
  display: flex;
  flex-flow: column;
  min-height: 100%;
  height: 100%;
  .question-container {
    flex: 1;
    h1 {
      text-align: center;
    }
    .question-text-container {
      background: $gradient_color;
      color: $gradient_text_color;
      border-radius: 23px;
      padding: 25px;
    }
    .question-text {
      font-family: 'Inter', sans-serif;
    }
    .question-number {
      font-size: 2.9em;
      color: rgba($primary_text_color,0.8);
    }
    .answer {
      margin: 15px;
      background: $gradient_color;
      font-size: 1.5em;
      padding: 20px 10px 10px;
      border-radius: 23px;
      p {
        text-align: center;
        color: $gradient_text_color;
      }
    }
  }
}
